<section id='movieHeading'>
    <h1 id='movieName'> </h1>
    <div id="movieRating">
        <i class="fas fa-grin-stars"></i>
        <i class="fas fa-grin-stars"></i>
        <i class="fas fa-grin-stars"></i>
        <i class="far fa-grin-stars"></i>
        <i class="far fa-grin-stars"></i>
    </div>
</section>
<section id='movieTrailer'>
    <iframe id="detailsVideo" class="movieVideo" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p id='movieSynopsis'></p>
</section>
<section id='movieCast'>
    <h2>Cast:</h2>
</section>

<% let arrRating = [] %>
<% ratings.forEach((ratingData) => { %>
    <% arrRating.push(ratingData.rating) %>
<% }) %>
<% let overAllRating = Math.round((arrRating.reduce((a, b) => a + b, 0))/arrRating.length) %>

<% let arrUserRating = [] %>
<% ratings.forEach((userRating) => { %>
    <% arrUserRating.push(userRating.rating) %>
<% }) %>

<div>
    <% if (overAllRating) { %>
        <p>Overall rating: <strong><%= overAllRating %></strong></p>
    <% } else { %>
        <p>Overall rating: <strong>No Votes</strong></p>
    <% } %>

    <% if (userRating.length > 0) { %>
        <p>Your Rating: <strong><%= arrUserRating %></strong></p>
    <% } else { %>
        <p>Your Rating: <strong>None</strong></p>
    <% } %>

    <p>Number of ratings: <strong><%=ratings.length%></strong></p>
</div>

<% if (req.session.user_id) { %>
    <h2>Rate Movie:</h2>
    <form class="flex" action="/movies/rate/<%= movieId %>" method="post">
        <label for="rating">Rating: </label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button type="submit">Submit Rating</button>
    </form>
<% } else { %>
    <h2>Please login to rate movie: <a href="/login">Login</a></h2>
<% } %>

<div>
    <% if(message) { %>
        <p style='color: red'><%= message %></p>
    <% } %>    
</div>